<div class="footer">
<div class="container">
  <div class="row-fluid">
    <div class="span4">
      <p style="font-size:9px;line-height:12px;"><span><a href="http://library.rice.edu/woodson/">Woodson Research Center</a><br/>
        <a href="http://library.rice.edu/">Fondren Library</a><br/>
        <a href="http://www.rice.edu/">Rice University</a><br/>
      </span>
      </p>

    </div>
    <div class="span4">
      <p style="font-size:9px;line-height:12px;"><span>Physical Address: <a href="https://www.google.com/maps/place/Rice+University+-+Fondren+Library/@29.7174147,-95.4001854,18z/data=!4m2!3m1!1s0x0000000000000000:0x92295a081617a3fc" target="_blank"><span aria-hidden="true" class="glyphicon glyphicon-map-marker"> </span> 6100 Main, Houston, Texas 77005-1827</a><br />
  Mailing Address: MS-44, P.O. Box 1892, Houston, Texas 77251-1892<br />
  © 2015 <a href="http://rice.edu">Rice University</a></span></p>

    </div>
    <div class="span4">
      <p>
  <a href="http://www.facebook.com/pages/Houston-TX/Fondren-Library/15587285151"><img alt="Facebook" src="http://50.87.144.89/~fondren/sites/all/themes/bootstrap/fondren_subtheme/templates/social-media-icon-fb.svg" class="social-media-icon" /></a> <a href="http://www.twitter.com/fondrenlibrary"><img alt="Twitter" src="http://50.87.144.89/~fondren/sites/all/themes/bootstrap/fondren_subtheme/templates/social-media-icon-tw.svg" class="social-media-icon" /></a> <a href="http://www.youtube.com/user/FondrenLibrary"><img alt="YouTube" src="http://50.87.144.89/~fondren/sites/all/themes/bootstrap/fondren_subtheme/templates/social-media-icon-yt.svg" class="social-media-icon" /></a>
  <a href="https://www.pinterest.com/ricefondren/"><img alt="Pinterest" src="http://50.87.144.89/~fondren/sites/all/themes/bootstrap/fondren_subtheme/templates/social-media-icon-pi.svg" class="social-media-icon" /></a>
  </p>

    </div>
  </div>
</div>
</div>
